{% extends "kiosk_mode_defualt_layout.html" %}

{% block content %}

	<h1>Charging Booth Kiosk: Session</h1>

	<div class="content-section">
	  <div class="media">
	    <div class="media-body">

	    </div>
	  </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please enter how many sessions you would like to add.</legend>

                <h5>Time per Session: {{ setting.charge_time }} seconds.</h5>

                {% if setting.toggle_pay %}
                    <h5>Cost per Session: ${{ setting.cents_per_second * setting.charge_time / 100 }}</h5>
                {% else %}
                    <h5>Cost: Free</h5>
                {% endif %}

                <!-- Form -->
                {% for field in form %}
                    {% if field.type != "SubmitField" and field.id != "csrf_token" %}
                        <div class="form-group">
                            {{ field.label(class="form-control-label") }}

                            {% if field.errors %}
                                {{ field(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
	</div>

{% endblock content %}