<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- CSS Files -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='kiosk_mode_main_css.css') }}">

</head>

<body>


<!-- This is the slide show part -->
<div class="sidenav">
  

  <div class="slideshow-container" style="margin-left: 0px">

    {% for pic_file in pic_files %}
      <div class="mySlides fade">
        <!-- <div class="numbertext">1 / 3</div> -->
        <img src="{{ url_for('static', filename='picture_files/' + pic_file) }}" style="width:100%; height:500px">
        <!-- "Optional Caption" <div class="text" style="text-align: left; color: white">Caption Text</div> -->
    </div>
    {% endfor %}


  

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
  <br>

  <div style="text-align:left">
    {% for _ in pic_files %}
      <span class="dot"></span>
    {% endfor %}
    <!-- <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span>  -->
  </div>

  <div class="btn btn-info" style="text-align: center"><a href="{{ url_for('kiosk_mode.session') }}">Click To Start a Session</a></div>

</div>


<!-- This is the side bar start-->
<div class="main">
  <p align="right" style="font-size: 75%"><a href="{{ url_for('system_admin.home')}}"><i class="material-icons">settings</i></a></p>

  <p align="center" style="font-size: 75%"><b>Active Sessions</b></p>


  <!-- Flash messages -->
  <main role="main" class="container flash">
    <div class="row">
      <div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" style="font-size: 20px; background-color: #9acd32">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      </div>
    </div>
  </main>


  <!-- The Sessions -->
  {% for session in current_sessions.local_sessions.values() %}
    <article class="media content-section">
          <div class="media-body">

            <div class="article-metadata">

              <p style="font-size: 60%"><b>Port: </b></p>
              <p class="port" style="font-size: 60%">{{ session.port }}</p>

              <p style="font-size: 60%"><b>Start Time: </b></p>
              <p class="start_time" style="font-size: 60%">{{ session.date_initiated.strftime('%I:%M:%S %p') }}</p>

              <p style="font-size: 60%"><b>End Time: </b></p>
              <p class="final_time" style="font-size: 60%">{{session.get_final_time()}}</p>        

            </div>

            <div>

              <p style="font-size: 60%"><b>Time Remaining: </b></p>
              <p class="time_remaining" style="font-size: 60%">{{session.get_time_remaining()}}</p>

            </div>

          </div>
        </article>
  {% endfor %}
</div>  

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='kiosk_mode_main_script.js') }}"></script>

<!-- Flash Fade Out -->
<script type="text/javascript">

  var flash_fade = setTimeout(flash_fade_out, 5000);

  function flash_fade_out(){
  
  $(document).ready(function(){
    $("flash").ready(function(){
      $("main").fadeOut(5000, "swing");
    });
  });
}

</script>


</body>
</html> 
