{% extends "system_admin_defualt_layout.html" %}

{% block content %}

	<h1>System Admin: Local Data</h1>

	{% for session in current_sessions.local_sessions.values() %}

		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<h5 class="mr-2">Date Initiated: {{ session.date_initiated.strftime('%b %d, %Y - %I:%M:%S %p') }}</h5>
				</div>

				<p class="article-content">Duration: {{ session.total_seconds() }} Seconds</p>
				<p class="article-content">Power Consumed: {{ session.power_used() }} Watt Hours</p>
				<p class="article-content">Amount Paid: {{ session.amount_paid }} Cents</p>
				<p class="article-content">Location: {{ session.location }}</p>
				<p class="article-content">Port: {{ session.port }}</p>
				<p class="article-content">Increment Size: {{session.increment_size }} Seconds</p>
				<p class="article-content">Increments: {{ session.increments }}</p>
			</div>	
		</article>

	{% endfor %}

{% endblock content %}