{% extends "system_admin_defualt_layout.html" %}
{% block content %}
	<!-- <h1>Charging Booth: Login</h1> -->

	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">System Admin: Log In</legend>
				
				{% for field in form %}
                    {% if field.type != "SubmitField" and field.id != "csrf_token" %}
                        <div class="form-group">
                            {{ field.label(class="form-control-label") }}

                            {% if field.errors %}
                                {{ field(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
				<small class="text-muted ml-2">
				<a href="{{ url_for('system_admin.reset_request') }}">Forgot Password?</a>
				</small>
			</div>

		</form>

	</div>
	<div class="border-top pt-3">
		<small class="test-muted">
			Need An Account? <a class="ml-2" href="{{ url_for('system_admin.register') }}">Sign Up Now</a>
		</small>
	</div>

{% endblock content %}

{% block side_content %}

	<div class="col-md-4">
      <div class="content-section">
      	<h3>Redirect in:</h3>
        <h3 id="time"></h3>
      </div>
    </div>

    <script>
    	var timer = setInterval(run_timer, 1000);
    	var duration = 60; // seconds
    	run_timer();

    	function run_timer(){
    		if(duration > 0){
    			duration -= 1;
    			var t = duration.toString()
    			document.getElementById("time").innerHTML = t;
    		}else{
    			window.location.replace("/kiosk_mode");
    		}
    	}
    </script>

{% endblock side_content %}