{% extends "defualt_layout.html" %}

{% block content %}
	<h1>Charging Booth: Data</h1>

	<div class="col-md">
    <div class="content-section">
      <h3>Data Options</h3>
      <p>
        <ul class="list-group">
          <a href="{{ url_for('system_admin.view_data') }}"><li class="list-group-item list-group-item-light">List Data</li></a>
          <a href="{{ url_for('system_admin.graph_data') }}"><li class="list-group-item list-group-item-light">Graph Data</li></a>
        </ul>
      </p>
    </div>
  </div>

{% endblock content %}