<!DOCTYPE html>
<html>
<head>
	<title>Set up</title>
</head>
<body>
	<button type="button" id='setupPPH' onclick='onSetupPayPalHereBtnClicked()'>Setup PayPal Here</button>
	<button type="button" id='setupCmp' onclick='onSetupComplete()'>Start Pay</button>


	<script src="https://www.paypalobjects.com/pph/websdk/js/pphwebsdk-1.1.12.min.js"></script>

	<script type="text/javascript">
		function onSetupPayPalHereBtnClicked() {
		  pphwebsdk.Setup.startUIFlow().then(function (completionStep) {
		      // PPHWebInterface has been installed and, if clicked, a test of the connected card reader was completed.
		      // setup is complete
		      console.log("set up complete");
		  });
		}

		function onSetupComplete(){
			pphwebsdk.Setup.isSetupComplete().then(function() {
			    // Continue to payment flow
			    console.log("In payment flow");
			}).catch(function(err) {
			    // Run startUIFlow to setup SDK
			    console.log("Not set up");
			});
		}
	</script>
</body>
</html>