<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Confirm Payment</title>

</head>
<body style="background-color: dodgerblue">

	<!-- Window of Confirm Payment -->
	<div class="row" style="margin: 10px">
		<div class="col-sm-12">
			<h1><center>Swipe,</center></h1>
			<center><img src="{{ url_for('static', filename='kiosk_mode/icons/swipe-card-icon.png') }}" style="width: 48px;height:48px;"></center>

			<h1><center>or Insert</center></h1>
			<center><img src="{{ url_for('static', filename='kiosk_mode/icons/insert-card-icon.png') }}" style="width: 48px;height:48px;"></center>

			<!-- <h1><center>or Tap</center></h1>
			<center><img src="{{ url_for('static', filename='kiosk_mode/icons/tap-card-icon.png') }}" style="width: 48px;height:48px;"></center> -->

			<div>Icons made by Freepik from www.flaticon.com</div>

			<h1 id="Message"></h1>
		</div>
	</div>

	<!-- Make a javascript call a url to check if a sale has been made -->

	<script type="text/javascript">
		// Return to home screen after one minute
		var failSafe = setTimeout(returnToHome, 60000);

		var url = "http://localhost:5000/kiosk_mode/checkPaymentStatus";

		httpGetAsync(url, checkResponse);

		function httpGetAsync(theUrl, callback){
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}

		function checkResponse(response){
			var payload = JSON.parse(response);
			if(payload.paymentSuccess){
				window.location.replace("/kiosk_mode/make_session");

			}else if(payload.paymentTimedOut){
				window.location.replace("/kiosk_mode/transaction_timeout");

			}else if(payload.paymentDeclined){
				window.location.replace("/kiosk_mode/payment_declined");

			}else if(payload.paymentError){
				window.location.replace("/kiosk_mode/payment_error");

			}else if(payload.removeCard){
				document.getElementById("Message").innerHTML = "Please Remove Card.";
				httpGetAsync(url, checkResponse);

			}else if(payload.goingOnline){
				document.getElementById("Message").innerHTML = "Going Online.";
				httpGetAsync(url, checkResponse);

			}else if(payload.processingCard){
				document.getElementById("Message").innerHTML = "Processing Card.";
				httpGetAsync(url, checkResponse);

			}else if(payload.cardDetected){
				document.getElementById("Message").innerHTML = "Card Detected.";
				httpGetAsync(url, checkResponse);

			}else if(payload.pleaseWait){
				document.getElementById("Message").innerHTML = "Please Wait.";
				httpGetAsync(url, checkResponse);

			}else if(payload.cardNeedsInserted){
				document.getElementById("Message").innerHTML = "Please Insert Your Card.";
				httpGetAsync(url, checkResponse);

			}else{
				httpGetAsync(url, checkResponse);
			}
		}

		function returnToHome(){
			window.location.replace("/kiosk_mode/cancel_transaction");
		}
	</script>

</body>
</html>
