<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Confirm Payment</title>

	<!-- Reroutes the page back to home after 40 seconds -->
	<meta http-equiv="refresh" content="40; url = {{ url_for('kiosk_mode.home') }}">
</head>
<body style="background-color: dodgerblue">

	<!-- Window of Confirm Payment -->
	<div class="row" style="margin: 10px">
		<div class="col-sm-12">
			<h1>
				Swipe, insert, or tap the card on the card terminal
			</h1>
			<p id="test">
				
			</p>
		</div>
	</div>

	<!-- Make a javascript call a url to check if a sale has been made -->

	<script type="text/javascript">
		var timer = setInterval(checkPaymentSuccess, 1000);

		checkPaymentSuccess();

		function httpGetAsync(theUrl, callback){
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}

		function httpGet(theUrl){
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
		    xmlHttp.send( null );
		    return xmlHttp.responseText;
		}

		function checkPaymentSuccess(){
			var response = httpGet("http://localhost:5000/kiosk_mode/checkPaymentSuccess");
			var payload = JSON.parse(response);
			document.getElementById("test").innerHTML = payload.paymentSuccess;
			if(payload.paymentSuccess){
				window.location.replace("/kiosk_mode/make_session");
			}else{
				checkPaymentSuccess()
			}

		}


		// const checkPaymentSuccess = async () => {
		//     const url = 'http://localhost:5000/kiosk_mode/checkPaymentSuccess'; // the URL to send the HTTP request to
		//     // const body = ''; // whatever you want to send in the body of the HTTP request
		//     // const headers = {'Content-Type': 'application/json'}; // if you're sending JSON to the server
		//     const method = 'GET';
		//     const response = await fetch(url, { method });
		//     const data = await response.text(); // or response.json() if your server returns JSON

		//     var payload = JSON.parse(response);

		//     document.getElementById("test").innerHTML = payload.paymentSuccess;
		// }

		// var timer = setInterval(checkPaymentSuccess, 1000);

		// checkPaymentSuccess();
	</script>

</body>
</html>