<!-- TODO  try to have the web sockect object keep recconnecting to the websocket-->
<!-- TODO  Make the payment screen look better -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Confirm Payment</title>

</head>
<body style="background-color: dodgerblue">

	<!-- Window of Confirm Payment -->
	<div class="row" style="margin: 10px">
		<div class="col-sm-12">
			<h1><center>Swipe,</center></h1>
			<center><img src="{{ url_for('static', filename='kiosk_mode/icons/swipe-card-icon.png') }}" style="width: 48px;height:48px;"></center>

			<h1><center>Insert,</center></h1>
			<center><img src="{{ url_for('static', filename='kiosk_mode/icons/insert-card-icon.png') }}" style="width: 48px;height:48px;"></center>

			<h1><center>or Tap</center></h1>
			<center><img src="{{ url_for('static', filename='kiosk_mode/icons/tap-card-icon.png') }}" style="width: 48px;height:48px;"></center>

			<div>Icons made by Freepik from www.flaticon.com</div>
		</div>
	</div>

	<!-- Make a javascript call a url to check if a sale has been made -->

	<script type="text/javascript">
		var url = "http://localhost:5000/kiosk_mode/checkPaymentStatus";

		httpGetAsync(url, checkResponse);

		function httpGetAsync(theUrl, callback){
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}

		function checkResponse(response){
			var payload = JSON.parse(response);
			if(payload.paymentSuccess){
				window.location.replace("/kiosk_mode/make_session");
			}else if(payload.paymentTimedOut){
				window.location.replace("/kiosk_mode/transaction_timeout")
			}else if(payload.paymentDeclined){
				window.location.replace("/kiosk_mode/payment_declined")
			}else{
				httpGetAsync(url, checkResponse);
			}
		}
	</script>

</body>
</html>
