<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kiosk_mode/css/slide_show.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kiosk_mode/css/session.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kiosk_mode/css/modal.css') }}">

	<title>Kisok Mode</title>

	<!-- Refresh the page every hour -->
	<!-- To check for any updates for the server -->
	<meta http-equiv="refresh" content="3600; url = {{ url_for('kiosk_mode.home') }}">

</head>
<body style="background-color: dodgerblue">

	<!-- The Modal for Payment Session-->
  	<div id="myModal" class="modal">

	    <!-- Modal content -->
	    {% if setting["toggle_pay"] %}

	      <div class="modal-content">
	        <div class="modal-header">
	          <h2>Payment Information</h2>
	          <span class="close">&times;</span>
	        </div>
	        <div class="modal-body">
	        	<br>
	        	<!-- Session Price -->
	        	{% if setting["price"] - ( ( setting["price"] // 10 ) * 10 ) > 0 %}
	        		<p>Session cost: <b>${{ setting["price"] / 100}}</b></p>
	        	{% else %}
	        		<p>Session cost: <b>${{ setting["price"] / 100}}0</b></p>
	        	{% endif %}
	        	<!-- Session Time -->
				{% if hours > 0 %}
					<p>Session Time: <b>{{ hours }} hours, {{ minutes }} minutes, {{ seconds }} seconds</b></p>
				{% elif minutes > 0 %}
					<p>Session Time: <b>{{ minutes }} minutes, {{ seconds }} seconds</b></p>
				{% else %}
					<p>Session Time: <b>{{ seconds }} seconds</b></p>
				{% endif %}
	        </div>
	        <div class="modal-footer">
		        <!-- Need to change this to ask for a payment first before moving on to make a session -->
		        <a href="{{ url_for('kiosk_mode.confirm_payment') }}" class="block_button" style="color: black;"><h3>Continue With Payment</h3></a>

	        </div>
	      </div>

	    {% else %}

	      <div class="modal-content">
	        <div class="modal-header">
	          <h2>Confirm Session</h2>
	          <span class="close">&times;</span>
	        </div>
	        <div class="modal-body">
	        	<br>
	          <!-- Session Time -->
				{% if hours > 0 %}
					<p>Session Time: <b>{{ hours }} hours, {{ minutes }} minutes, {{ seconds }} seconds</b></p>
				{% elif minutes > 0 %}
					<p>Session Time: <b>{{ minutes }} minutes, {{ seconds }} seconds</b></p>
				{% else %}
					<p>Session Time: <b>{{ seconds }} seconds</b></p>
				{% endif %}
	        </div>
	        <div class="modal-footer">

	          <a href="{{ url_for('kiosk_mode.confirm_payment') }}" class="block_button" style="color: black;"><h3>Confirm</h3></a>
	        </div>
	      </div>

	    {% endif %}

	</div>
	<!-- end of Modal for Payment Session -->

	<!-- Flash Message Modal -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}

		  <div id="FlashModal" class="modal">

		  <!-- Modal content -->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 style="text-align: center;">
		          {% for category, message in messages %}
		            {{ message }}
		          {% endfor %}
		        </h2>
		        <span class="close">&times;</span>
		      </div>
		      <div class="modal-body">
		        <p style="display: none">Body</p>
		      </div>
		      <div class="modal-footer">
		        <h5 style="display: none; text-align: center;">Click Anywhere To Continue</h5>
		      </div>
		    </div>
		  </div>

		{% endif %}
	{% endwith %}
	<!-- end of Flash Message Modal -->

	<!-- Entire Kiosk window -->
	<div class="row" style="margin: 10px">

		<!-- Slide Show -->
		<div class="col-sm-8">

			<div class="slideshow-container">
				<!-- Image  -->
				{% for i in range(img_count) %}
					<div class="slides">
						<img src="{{service_ip}}/device/grab_re_image/{{devi_id_number}}/{{i}}/{{random_hex}}" style="width: 100%; height: 75vh; display: block">
					</div>
				{% endfor %}

				<!-- Left and Right arrows for the Slideshow -->
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>

				<!-- Dots under the Image -->
				<!-- Needs a css style in order to be shown -->
				<div style="text-align:left">
					{% for _ in range(img_count) %}
					  <span class="dot"></span>
					{% endfor %}
				</div>

			</div>

			<!-- Buttons for initiating a Session -->
			<button id="Btn" class="btn btn-dark" onclick="activateModal()" style="display: none; text-align: center; margin:4px 2px; border-radius: 12px; width: 100%; height: 10%">Click To Start A Session</button>

  			<button id="progBtn" class="btn btn-outline-dark" style="display: none; text-align: center; margin:4px 2px; border-radius: 12px; width: 100%; height: 10%" disabled>Session In Progress</button>

		</div>

		<!-- Session -->
		<div class="col-sm-4">

			<h2 align="center">Session Info</h2>



			{% for session, date, date_end in sessions_and_dates %}
			    <article class="media content-section">
			      <div class="media-body">

			        <div class="article-metadata">

			        	<!-- Battery Icon -->
			        	<div align="left">
			        		<div id="battery" class="fa" style="font-size: 200%"></div>
			        	</div>

			          <!-- Commented for now since there will only be one port -->
			          <!-- <p style="font-size: 110%"><b>Port: </b></p>
			          <p class="port" style="font-size: 110%">{{ session.port }}</p> -->

			          <p style="font-size: 110%"><b>Start Time: </b></p>
			          <p class="start_time" style="font-size: 110%">{{ date }}</p>

			          <p style="font-size: 110%"><b>End Time: </b></p>
			          <p class="final_time" style="font-size: 110%">{{ date_end }}</p>        

			        </div>

			        <div>

			          <p style="font-size: 110%"><b>Time Remaining: </b></p>
			          <p class="time_remaining" style="font-size: 110%">0{{session.get_time_remaining()}}</p>

			        </div>

			      </div>
			    </article>
			{% endfor %}

			<!-- If there is no session active -->
  			{% if current_sessions.has_sessions() == 0 %}
				<article class="media content-section">
			      <div class="media-body">

			        <div class="article-metadata">
			        	
						<!-- Commented for now since there will only be one port -->
						<!-- <p style="font-size: 110%"><b>Port: </b></p>
						<p class="port" style="font-size: 110%">None</p> -->

						<p style="font-size: 110%"><b>Start Time: </b></p>
						<p class="start_time" style="font-size: 110%">None</p>

						<p style="font-size: 110%"><b>End Time: </b></p>
						<p class="final_time" style="font-size: 110%">None</p>        

			        </div>

			        <div>

					<p style="font-size: 110%"><b>Time Remaining: </b></p>
					<p class="None" style="font-size: 110%">None</p>

			        </div>

			      </div>
			    </article>
		    {% endif %}

		</div>
		<!-- end of Session -->

	</div>
	<!-- End of Kisok Window -->

	<!-- Local JavaScript -->
	<script type="text/javascript" src="{{ url_for('static', filename='kiosk_mode/javascript/slideshow.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='kiosk_mode/javascript/battery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='kiosk_mode/javascript/modal.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='kiosk_mode/javascript/sessions.js') }}"></script>

</body>
</html>