<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- CSS Files -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='kiosk_mode_main_css.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>



<!-- This is the slide show part -->
<div class="sidenav">
  
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    {% if setting.toggle_pay %}

      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Confirm Payment</h2>
        </div>
        <div class="modal-body">
          <p>Session cost: ${{ setting.cents_per_second / 100}}</p>
          <p>Session Time: {{ setting.charge_time }} seconds</p>
        </div>
        <div class="modal-footer">
          <button id="confim" class="block_button"><a href="{{ url_for('kiosk_mode.confirm_payment') }}" style="color: black">Continue With Payment</a></button>
        </div>
      </div>

    {% else %}

      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Confirm Session</h2>
        </div>
        <div class="modal-body">
          <p>Session Time: {{ setting.charge_time }} seconds</p>
        </div>
        <div class="modal-footer">
          <button id="confim" class="block_button"><a href="{{ url_for('kiosk_mode.make_session') }}">Confirm</a></button>
        </div>
      </div>

    {% endif %}

  </div>

  <div class="slideshow-container">

    <!-- Show the Images -->
    {% for pic_file in pic_files %}
      <div class="mySlides fade">
        <!-- <div class="numbertext">1 / 3</div> -->
        <img src="{{ url_for('static', filename='picture_files/' + pic_file) }}" style="width: 100%; height:500px">
        <!-- "Optional Caption" <div class="text" style="text-align: left; color: white">Caption Text</div> -->
      </div>
    {% endfor %}


  
  <!-- Left and Right arrows for the Slideshow -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
  <br>

  <!-- Dots under Slide Show -->
  <div style="text-align:left">
    {% for _ in pic_files %}
      <span class="dot"></span>
    {% endfor %}
  </div>

  <!-- Trigger/Open The Modal -->
  <div id="Btn" class="btn btn-info" style="text-align: center; background-color: white; margin:4px 2px; border-radius: 12px; display: none"><a href="#">Click To Start A Session</a></div>

  <div id="progBtn" class="btn btn-info" style="text-align: center; display: none; font-size: 200%; background-color: white; margin:4px 2px; border-radius: 12px;">Session In Progress</div>

</div>


<!-- This is the side bar start-->
<div class="main">
  <p style="font-size: 75%; text-align: right">
    <a href="{{ url_for('system_admin.home')}}">
      <i class="material-icons">settings</i>
    </a>
  </p>

  <p align="center" style="font-size: 75%"><b>Session</b></p>


  <!-- Flash Message -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

      <div id="FlashModal" class="modal">

      <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h5 style="text-align: center;">
              {% for category, message in messages %}
                {{ message }}
              {% endfor %}
            </h5>
          </div>
          <div class="modal-body">
            <p style="display: none">Body</p>
          </div>
          <div class="modal-footer">
            <h5 style="display: none; text-align: center;">Click Anywhere To Continue</h5>
          </div>
        </div>
      </div>

    {% endif %}
  {% endwith %}


  <!-- The Session -->
  {% for session, date, date_end in sessions_and_dates %}
    <article class="media content-section">
      <div class="media-body">

        <div id="battery" class="fa"></div>

        <div class="article-metadata">

          <!-- Commented for now since there will only be one port -->
          <!-- <p style="font-size: 60%"><b>Port: </b></p>
          <p class="port" style="font-size: 60%">{{ session.port }}</p> -->

          <p style="font-size: 60%"><b>Start Time: </b></p>
          <p class="start_time" style="font-size: 60%">{{ date }}</p>

          <p style="font-size: 60%"><b>End Time: </b></p>
          <p class="final_time" style="font-size: 60%">{{ date_end }}</p>        

        </div>

        <div>

          <p style="font-size: 60%"><b>Time Remaining: </b></p>
          <p class="time_remaining" style="font-size: 60%">{{session.get_time_remaining()}}</p>

        </div>

      </div>
    </article>
  {% endfor %}

  <!-- If there is no session active -->
  {% if current_sessions.has_sessions() == 0 %}
    <article class="media content-section">
      <div class="media-body">

        <div class="article-metadata">

          <!-- Commented for now since there will only be one port -->
          <!-- <p style="font-size: 60%"><b>Port: </b></p>
          <p class="port" style="font-size: 60%">None</p> -->

          <p style="font-size: 60%"><b>Start Time: </b></p>
          <p class="start_time" style="font-size: 60%">None</p>

          <p style="font-size: 60%"><b>End Time: </b></p>
          <p class="final_time" style="font-size: 60%">None</p>        

        </div>

        <div>

          <p style="font-size: 60%"><b>Time Remaining: </b></p>
          <p class="None" style="font-size: 60%">None</p>

        </div>

      </div>
    </article>
  {% endif %}

</div>  

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kiosk_mode_main_script.js') }}"></script>


</body>
</html> 
